button {
    background-color: blue;
    color: white;
}

button:hover {
    color: lightskyblue;
}

div {
    text-align: center;
}

body {
    background-color: grey;
}

input {
    background-color: lightskyblue;
}